body {
  background: #2f3338;
  text-align: center;
  margin-top: 0;
}

body > * {
  margin-left: auto;
  margin-right: auto;
}

/* https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */
.square {
  position: relative;
  width: 75%;
  max-width: 500px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-content {
  position: absolute;
  width: 100%;
  height: 100%;
}


#text-display {
  opacity: 0;
  color: white;
  font-family: sans-serif;
  margin-bottom: 16px;
  font-size: 24px;
}

.touch-keyboard {
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.touch-keyboard td {
  height: 25%;
  width: 25%;
  text-align: center;
}

.touch-keyboard button,
.modifiers button {
  font-size: 24px;
  border: 0;
  background: #c0c0c0;
  height: 100%;
  width: 100%;
}

.touch-keyboard td {
  background: white;
  padding: 0;
}

.touch-keyboard button.active {
  opacity: 0.6;
}

.touch-keyboard button:focus {
  outline: 0;
}

#modifiers-left {
  position: absolute;
  left: 0;
}

#modifiers-right {
  position: absolute;
  right: 0;
}

.modifiers button {
  opacity: 0.3;
  display: block;
  margin-bottom: 4px;
  width: min(10vw, 65px);
  height: 100px;
}

.modifiers button:focus {
  outline: 0;
}

button {
  /* https://stackoverflow.com/a/4407335 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

body.layer-1-active button.layer-1 {
  background: #d8d27d;
}

body.layer-2-active button.layer-2 {
  background: #8babc7;
}

body.layer-1-active .modifiers button.layer-1 {
  font-weight: bold;
}

body.layer-2-active .modifiers button.layer-2 {
  font-weight: bold;
}

body.layer-1-double-tapped .modifiers button.layer-1 {
  text-decoration: underline;
}

body.layer-2-double-tapped .modifiers button.layer-2 {
  text-decoration: underline;
}



.debug-info {
  position: absolute;
  top: 0;
  left: 0;
  color: gray;
  font-family: sans-serif;
  margin-left: 2px;
}

.swipe-keyboard {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

.swipe-keyboard td {
  text-align: center;
  padding: 0;
  margin: 0;
}

.swipe-keyboard button {
  border: 1px solid black;
  background: #c0c0c0;
  height: 100%;
  width: 100%;
  outline: 0;
}

#cursor {
  width: 5px;
  height: 5px;
  background: red;
  position: absolute;
  left: 0;
  top: 0;
}
