.cube {
  border: 1px solid gray;
}

.cube-wrapper {
  transform: translate(100px, 200px);
}

.cube-wrapper .r-face {
  transform:
    translate(300px, 0)
    skewY(-45deg)
    scaleX(0.3)
  ;
}

.cube-wrapper .u-face {
  transform:
    skewX(-45deg)
    scaleY(0.3)
    translate(0, -300px)
  ;
}
